<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">

<head></head>

<section layout:fragment="conteudo">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h5 class="panel-title aw-titulo-panel">Motivação</h5>
			</div>
		</div>
		<div class="panel-body">
			<p>Projeto da disciplina de Inteligência Artifial para tentar
				identificar o grau de dificuldade que estudantes teriam ao aprender
				uma nova linguagem de programação.</p>

			<p>Para isso foi feito um questionário para identificar as
				dificuldade dos desenvolvedores ao aprender outra linguagem e
				encaminhado para diversos programadores preencherem. Com base nesses
				dados coletados, treinar uma Rede Neural Artificial para identificar
				o grau de dificuldade que será encontrado.</p>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h5 class="panel-title aw-titulo-panel">Participantes do Projeto</h5>
			</div>
		</div>
		<div class="panel-body">
			<p>Rafael Fernando Rutsatz</p>
			<p>Diego Rezek</p>
			<p>Cesar Taborda Hernandez</p>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h5 class="panel-title aw-titulo-panel">Desenvolvimento</h5>
			</div>
		</div>
		<div class="panel-body">
			<p>As 10 linguagens usadas no questionário foram retiradas de uma
				pesquisada realizada pelo github que mapeou as linguagens mais
				utilizadas. Você pode conferir a pesquisa neste 
				<a href="http://mundoderespuestas.com/los-lenguajes-de-programacion-mas-usados/">
				link</a>.</p>

			<p>Para o treinamento e aprendizado da Rede Neural Artificial foi
				utilizada a API (Interface de Programação de Aplicativos) ADReNA,
				disponível neste <a href="https://github.com/mattkist/ADReNA">link</a>.</p>
		</div>
	</div>
</section>
</html>